# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build outputs
# dist/ は無視せず Git に含めるので除外を解除
# dist/
!dist/
!dist/index.html
!dist/assets/

# Editor configs and OS files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local environment overrides
*.local